.lab-table-container {
  margin: 20px;
}

.lab-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.lab-table th, .lab-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.lab-table th {
  background-color: #f2f2f2;
}
